* {
	margin: 0;
	padding: 0;
}

.button
{
	margin-top:100px;
	font-size:15px;
}

/*this is customization for the preview text*/
.text_preview
{
	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	-ms-transition: opacity 0.25s;
	color:black;
	opacity:1;
	font-family: Georgia, "Segoe WP", sans-serif;
}

.text_preview_change
{
	/*-webkit-transition: opacity 0.25s ease-in-out;*/
	opacity:0;
}

/*this is customization for the main content body text*/
.text
{
	/*-webkit-transition: opacity 0.25s ease-in-out;*/
	color:black;
	opacity:1;
}

/*this is customization for the preview box*/
.box
{
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-o-transition: height 0.5s;
	-ms-transition: height 0.5s;
	height:0px;
	width:800px;
	padding:3px;
	border:3px solid gray;
	margin:0 auto;
	background-color: gray;
	opacity:1;
}

.box_change
{
	height:30px;
}

/*this is customization for the main content box*/
.box_article
{
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-o-transition: height 0.5s;
	-ms-transition: height 0.5s;
	width:800px;
	padding:3px;
	border:3px solid black;
	margin:0 auto;
	background-color: white;
	height:318px;
	font-family: Georgia, "Segoe WP", sans-serif;
}

.box_article_change
{
	height:0px ! important;
}

.box_image
{
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-o-transition: height 0.5s;
	-ms-transition: height 0.5s;
	width:800px;
	padding:3px;
	border:3px solid white;
	margin:0 auto;
	background-color: white;
	font-family: Georgia, "Segoe WP", sans-serif;
}

.box_image_change
{
	height:50px;
}

#box_about
{
	height:180px;
}

#box_home
{
	height:329px;
}

#box_contact
{
	height:137px;
}

body
{
	height: 100%;
	background-image:url("images/background.png");
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: center;
	background-position: top;
}
/*
.text:hover
{
	color:blue;
	opacity:1;
}
*/

#imageHome
{
	width:800px;
}

.headerimage
{
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	opacity: 1;
	margin-left: auto;
    margin-right: auto;
    display:block;
}

.headerimage_change
{
	opacity: 0;
}

#HomeText
{
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	color:white;
	opacity:1;
}

#HomeText:hover
{
	color: white;
	opacity:0;
}

#AboutTextPreview
{
	/*-webkit-transition: opacity 0.25s ease-in-out;*/
	color:white;
	opacity:1;
}


#ProgrammingTextPreview
{
	/*-webkit-transition: opacity 0.25s ease-in-out;*/
	color:white;
	opacity:1;
}

#CgTextPreview
{
	/*-webkit-transition: opacity 0.25s ease-in-out;*/
	color:white;
	opacity:1;
}

#ContactTextPreview
{
	/*-webkit-transition: opacity 0.25s ease-in-out;*/
	color:white;
	opacity:1;
}

ul {
	list-style-type: none;
	background-image: url('images/divider_back.png');
	height: 50px;
	width: 815px;
	margin: auto;
}

.imagegallery {
	list-style-type: none;
	background-image: url('images/image_divider_back.png');
	height: 40px;
	width: 800px;
	margin: auto;
}

li
{
	float:left;

}

ul a
{
	-webkit-transition: padding 0.5s;
	-moz-transition: padding 0.5s;
	-o-transition: padding 0.5s;
	-ms-transition: padding 0.5s;
	opacity: 0.7;
	background-image: url('images/divider.png');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 49px;
	padding-left: 49px;
	display: block;
	line-height: 50px;
	text-decoration: none;
	font-family: Georgia, "Segoe WP", Times, serif;
	font-size: 16px;
	color: #371C1C;
}

.imagegallery a
{
	-webkit-transition: padding 0.5s;
	-moz-transition: padding 0.5s;
	-o-transition: padding 0.5s;
	-ms-transition: padding 0.5s;
	opacity: 0.7;
	background-image: url('images/image_divider.png');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 49px;
	padding-left: 49px;
	display: block;
	line-height: 40px;
	text-decoration: none;
	font-family: Georgia, "Segoe WP", Times, serif;
	font-size: 16px;
	color: #371C1C;
}

ul a:hover
{
	color: black;
	padding-right: 60px;
	padding-left: 60px;
	background-color: white;

}




.menuitem
{
	color:white;
}

.wrapper
{
	min-height: 100%;
	height: 100%;
	margin: 0 auto -4em;
}

.footer
{
	font-family: Georgia, "Segoe WP", Times, serif;
	font-size: 10px;
	font-color: gray;
	text-align: center;
}

.imageTest
{
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	opacity:1;
	content:url("images/testPreview2.png");
}

.imageTestFade
{
	opacity:0;

}

.content_home
{
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	opacity:1;
}

.content_about
{
	-webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	opacity:1;
}

.content_home_changed
{
	opacity:0;
}


